.theme-default {

  .suguru {
    .game {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(var(--columns), 64px);
      grid-template-rows: repeat(var(--rows), 64px);
      border: 1px solid white;

      li {
        line-height: 64px;
        border: dotted 1px #df00df;
        box-sizing: border-box;
      }

      li.top-edge {
        border-top: 2px solid white;
      }

      li.right-edge {
        border-right: 2px solid white;
      }

      li.bottom-edge {
        border-bottom: 2px solid white;
      }

      li.left-edge {
        border-left: 2px solid white;
      }
    }
  }
}

